.App{
  width: 100%;
  /* background-color: #2f3542; */
  background: rgba(87,101,116,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(87,101,116,1) 0%, rgba(34,47,62,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(87,101,116,1)), color-stop(100%, rgba(34,47,62,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(87,101,116,1) 0%, rgba(34,47,62,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(87,101,116,1) 0%, rgba(34,47,62,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(87,101,116,1) 0%, rgba(34,47,62,1) 100%);
  background: radial-gradient(ellipse at center, rgba(87,101,116,1) 0%, rgba(34,47,62,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576574', endColorstr='#222f3e', GradientType=1 );
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding-bottom: 50px;
}
