.logo-city-search-wrapper{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.city-search-wrapper{
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-content: flex-end;
  margin: 20px 0 60px 0;
  transition: .3s;
  /* -webkit-box-shadow: 0px 5px 35px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 35px -1px rgba(0,0,0,0.75);
box-shadow: 0px 5px 35px -1px rgba(0,0,0,0.75); */
}


.city-search-wrapper input{
  height: 45px;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  transition: .3s;
  opacity: .7;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
  -moz-box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
  box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
}
.city-search-wrapper input:focus {
  outline: none;
  padding-left: 15px;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 31px -5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 5px 31px -5px rgba(255,255,255,1);
  box-shadow: 0px 5px 31px -5px rgba(255,255,255,1);
}

.city-search-wrapper button{
  margin: 10px 0;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 3px;
  transition: 500ms ease-in-out;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  -webkit-box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
  -moz-box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
  box-shadow: 0px 5px 31px -9px rgba(250,250,250,1);
}
.city-search-wrapper button:focus{
  outline: none;
}
.city-search-wrapper button i{
  opacity: 0;
  transition: .3s;
  margin-right: 5px;
}
.city-search-wrapper button:hover{
  cursor: pointer;
}
.city-search-wrapper button:hover i{
  opacity: 1;
  margin-left: -15px;
  transform: rotate(180deg);
}
