.days-list-wrapper{
  margin-top: 20px;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 20px 20px 0 20px; */
}
