.info-wrap{
  width: 80%;
  transition: 500ms ease-in-out;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
  position: relative;
  height: 350px;
  /* transition: max-height 0.15s ease-out; */
}
.is-active{
  /* max-height: 500px; */
  height: 350px;
  /* transition: max-height 0.25s ease-in; */
  opacity: 1;
  z-index: 50;
  -webkit-box-shadow: 0px 20px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 20px 34px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 20px 34px -5px rgba(0,0,0,0.75);
}
