@import url('https://fonts.googleapis.com/css?family=Roboto');
.single-day-wrap {
  width: 20%;
  background-color: transparent;
}

.single-day {
  width: 100%;
  background-color: green;
  padding-top: 5px;
  transition: .3s;
  filter: brightness(65%);
  -webkit-box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.75);
  z-index: 6;
}

.single-day:hover {
  margin-top: -15px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: brightness(85%);
}

.single-day:hover .weather-logo i {
  transform: rotate(15deg);
}

.single-day:hover .temp-range .temp:nth-child(2) {
  margin-top: -10px;
}

.single-day:first-child {
  border-top-left-radius: 5px;
}

.single-day:last-child {
  border-top-right-radius: 5px;
}

.single-day h1 {
  font-size: 15px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.weather-logo {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.weather-logo i {
  font-size: 60px;
  color: #fff;
  transition: .3s;
}

.temp-range {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.temp {
  text-align: center;
  color: #fff;
  transition: .3s;
}

.temp span {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.temp span i {
  font-size: 20px;
  padding: 0 15px;
}

.is-active-day {
  margin-top: -10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  filter: brightness(100%);
  -webkit-box-shadow: 0px -5px 74px -16px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px -5px 74px -16px rgba(255, 255, 255, 1);
  box-shadow: 0px -5px 74px -16px rgba(255, 255, 255, 1);
  z-index: 5;
}

.is-active-day:hover {
  margin-top: -5px;
}

.is-active:hover .temp-range .temp:nth-child(2) {
  margin-top: 10px;
}

.is-active:hover .weather-logo i {
  transform: rotate(-15deg);
}
